<!DOCTYPE html>
<html lang="en">
<head>
    @using System.Text.Json.Nodes
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico" />
    <title>@ViewData["Title"] - @Context.Request.Host.Host</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link type="application/json+oembed" href="~/json/oembed.json" />
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    @if (Context.Request.Path == "")
    {
        <meta property="og:title" content="yawaflua readme" />
        <meta property="og:type" content="rich" />
        <meta property="og:url" content="@Context.Request.Host.Host" />
        <meta property="og:image" content="https://user-images.githubusercontent.com/5713670/87202985-820dcb80-c2b6-11ea-9f56-7ec461c497c3.gif" />
        <meta property="og:description"
        content="Here you can check info about yawaflua: social networks, programming languages that he knows and his projects." />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="yawaflua.ru" />
    } 
    else
    {
        <meta property="og:title" content="@ViewData["og:title"]" />
        <meta property="og:type" content="rich" />
        <meta property="og:url" content="@ViewData["og:url"]" />
        <meta property="og:image" content="@ViewData["og:title"]" />
        <meta property="og:description"
              content="@ViewData["og:title"]" />
        <meta property="og:locale" content="ru_RU" />
        <meta property="og:site_name" content="yawaflua.ru" />
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #2c2c2c;">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <a class="nav-link " style="color: cornflowerblue;" asp-area="" asp-page="/Index">
                            @Context.Request.Host.Host
                        </a>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Blog">Blog</a>
                        </li>
                        @{
                            Context.Response.Cookies.Delete("cable");
                            if (Context.Request.Cookies["melon"] != null)
                            {
                                HttpResponseMessage message;
                                using (var requestMessage =
                                    new HttpRequestMessage(HttpMethod.Get, "https://discordapp.com/api/oauth2/@me"))
                                {
                                    requestMessage.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", Context.Request.Cookies["melon"]); ;
                                    message = await Startup.client.SendAsync(requestMessage);
                                }
                                string responseBody = await message.Content.ReadAsStringAsync();
                                JsonNode response = JsonNode.Parse(responseBody);
                                if (response["user"] != null)
                                {
                                    Context.Response.Cookies.Append("cable", response["user"]["id"].ToString());
                                    string userName = response["user"]["global_name"].ToString();
                                    <li class="nav-item">
                                        <a href="/logout" 
                                        class="nav-link blurple hover:decoration-wavy underline dashed decoration-purple" 
                                        style="color: #5865F2; font-size: calc(var(--bs-body-font-size) + .15rem);">
                                            @userName
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="migratePushUp">
        @{

            if (!Context.Request.Host.Host.StartsWith("yawaflua.ru"))
            {
            <div aria-live="polite" aria-atomic="true" style="margin-right: 3vh;">
                    <div class="toast bg-dark right-1vm absolute fixed" style="bottom: 0; display:block;">
                    <div class="toast-header bg-dark" >
                        <strong class="mr-auto left-1vm absolute">@Context.Request.Host.Host</strong>
                        <small class="absolute right-1vm">Now</small>
                    </div>
                    <div class="toast-body text-muted">
                        This site is outdated. Use <a href="https://yawaflua.ru">new site</a>
                    </div>
                </div>
            </div>
            }
        }
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted margin-2-vm">
        <div class="container margin-2-vm">
            &copy; 2023 - @Context.Request.Host.Host - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        <p class="flex-row margin-2-vm container-md">
            сrafted by <a href="https://yawaflua.ru/gh" class="underline dashed decoration-purple text-white hover:decoration-wavy">yawaflua</a>
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @if (Context.Request.Path.ToString().StartsWith("/AdminPanel"))
    {
        <script src="~/js/AdminPanel.js"></script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>